/* jssor slider thumbnail Navigator Skin 13 css */
/*
.jssort15 .p            (normal)
.jssort15 .p:hover      (normal mouseover)
.jssort15 .pav          (active)
.jssort15 .pav:hover    (active mouseover)
.jssort15 .pdn          (mousedown)
*/

.jssort15 {
    position: absolute;
    /* size of thumbnail navigator container */
    width: 600px;
    height: 60px;
}

.jssort15 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
}

.jssort15 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border: none;
    filter: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}

.jssort15 .pav .t, .jssort15 .p:hover .t {
    filter: alpha(opacity=100);
    opacity: 1;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.jssort15 .p.pdn .t {
    filter: alpha(opacity=45);
    opacity: .45;
}

.slide_img{
    /*width: 600px;
    height: 300px;*/
}

.thumb{
    width: 60px;
    height: 30px;
}

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../img/a17.png) no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/**** jssor slider arrow navigator End  ****/